<!DOCTYPE html>
<html ng-app="root">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bugle: Event Details</title>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
	<script src="/node_modules/angular-local-storage/src/angular-local-storage.js"></script>
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <link rel="stylesheet" type="text/css" href="css/base.css" />
    <script type="text/javascript" src="js/app.js"></script>
</head>

<body ng-controller="index" ng-init="fetchSession()">

    <!-- The Organization Home Page -->

    <div class='home active'>

        <div class='home__header center_text'>
				<a ng-if="prevPage.includes('orgEvents.html')" href="orgEvents.html" class="back_button">Back</a>
				<a ng-if="prevPage.includes('volunteerEvents.html')" href="volunteerEvents.html" class="back_button">Back</a>
            <h1>{{event.eName}}</h1>
        </div>

        <div class='home__content' style='padding: 20px'>
            <h4>
                Description:
            </h4>
            
           	<div ng-show="longMessage==='long'">
	            <p>
	            	{{event.description}}
	            </p>
	            <a onclick="fullDetails()">Read Full Description</a>
	        </div>
<!-- 	        <div ng-show="shortMessage==='short'">
	        	<p>
	        		This will display the really long description.\n
	        		There will be elaborate details.\n
	        		There will be a large amount of information.\n
	        		People will be able to view all of this information if they want.\n
	        		Or they can press the button below to go back to the short description.\n
	        	</p>
	        	<button onclick="shortOnly()">View Less Information</button>
	        </div> -->
	        
        	<h4><b>{{event.members}}</b> Members</h4>
        	<button>View Members</button>
        	<button>View Organizers</button>
        
        	<h4>Time: {{event.datetime}}</h4>
        	<h4>Location: {{event.location}}</h4>
	        
	        <div ng-show="longMessageDir==='long'">
	            <button>Navigate on Google Maps</button>
	        </div>
	        <br>
	        <button>Join Event</button>
            
        </div>
        
        <div class='home__footer'>
            <div class="nav_bar">
					<a href="organization.html" ng-if="user.type == 'org'">Events</a>
					<a href="volunteer.html" ng-if="user.type == 'vol'" ng-class="{'active': prevPage.includes('orgEvents.html')}">Organizations</a>
					<a href="volunteerEvents.html" ng-if="user.type == 'vol'" ng-class="{'active': prevPage.includes('volunteerEvents.html')}">Applied</a>
					<a href="eventVolunteers.html" ng-if="user.type == 'org'">Volunteers</a>
					<a href="chat.html">Chat</a>
					<a href="profile.html">Profile</a>
            </div>
        </div>

    </div>

    <!-- End Organization Home Page -->
    
</body>

</html>