<!DOCTYPE html>
<html ng-app="root">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bugle: Sign up</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="/node_modules/angular-local-storage/src/angular-local-storage.js"></script>
    <script src="//code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="//code.angularjs.org/1.6.0/angular-route.min.js"></script>
    <script src="//code.angularjs.org/1.6.0/angular-cookies.min.js"></script>
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <link rel="stylesheet" type="text/css" href="css/login.css" />
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <script type="text/javascript" src="js/app.js"></script>
</head>

<body ng-controller="index" ng-init="fetchSession()">

    <form name="form" ng-submit="register('org')" role="form" class="ng-dirty ng-valid-parse ng-invalid ng-invalid-required">

        <div class="imgcontainer">
            <img src="img/logo_64.png" alt="logo" class="logo">
        </div>

        <div class="container">

            <div class="form-group" ng-class="{ 'has-error': form.orgname.$dirty &amp;&amp; form.orgname.$error.required }">
                <label for="orgname">Organization Name</label> &nbsp; <span ng-show="form.orgname.$dirty &amp;&amp; form.orgname.$error.required" class="ng-hide fcred">Organization Name is required</span>
                <input name="orgname" id="orgname" class="form-control ng-not-empty ng-dirty ng-valid-parse ng-valid ng-valid-required ng-touched" ng-model="orgname" required="" type="text">
            </div>

            <div class="form-group" ng-class="{ 'has-error': form.emailid.$dirty &amp;&amp; form.emailid.$error.required }">
                <label for="emailid">Email Id</label> &nbsp; <span ng-show="form.emailid.$dirty &amp;&amp; form.emailid.$error.required" class="ng-hide fcred">Email Id is required</span> &nbsp; <span ng-show="form.emailid.$error.email" class="ng-hide fcred">Provided Email Id is invalid</span>
                <input name="emailid" id="emailid" class="form-control ng-not-empty ng-dirty ng-valid-parse ng-valid ng-valid-required ng-touched" ng-model="emailid" required="" type="email">
            </div>

            <div class="form-group" ng-class="{ 'has-error': form.psw.$dirty &amp;&amp; form.psw.$error.required }">
                <label for="psw">Password</label> &nbsp; <span ng-show="form.psw.$dirty &amp;&amp; form.psw.$error.required" class="ng-hide fcred">Password is required</span>
                <input type="password" name="psw" id="psw" class="form-control ng-not-empty ng-dirty ng-valid-parse ng-valid ng-valid-required ng-touched" ng-model="psw" required="" type="text">
            </div>

            <div class="form-group" ng-class="{ 'has-error': form.cpsw.$dirty &amp;&amp; form.cpsw.$error.required }">
                <label for="cpsw">Confirm Password</label> &nbsp; <span ng-show="form.cpsw.$dirty &amp;&amp; form.cpsw.$error.required" class="ng-hide fcred">Confirm Password is required</span>
                <input type="password" name="cpsw" id="cpsw" class="form-control ng-not-empty ng-dirty ng-valid-parse ng-valid ng-valid-required ng-touched" ng-model="cpsw" required="" type="text">
                
            </div>

            <button type="submit" ng-disabled="form.$invalid || dataLoading" disabled="disabled">Sign Up</button>
            <a href="login.html" class="linkbuttonred">Cancel</a>

        </div>

    </form>

</body>

</html>