<!DOCTYPE html>
<html ng-app="root">

<head>
    <meta content="img/logo_128.png" itemprop="image">
    <link href="img/logo_128.png" rel="icon">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google-signin-client_id" content="<yourclientID>.apps.googleusercontent.com">
    <title>Bugle: Event Details</title>
    <!-- Angular Material style sheet -->
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.8/angular-material.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-messages.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.8/angular-material.min.js"></script>
    <script src="/node_modules/angular-local-storage/src/angular-local-storage.js"></script>
    <script src="/node_modules/read-more/js/directives/readmore.js"></script>
    <script src="https://apis.google.com/js/platform.js?onload=onLoad" async defer></script>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg"
        crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <link rel="stylesheet" type="text/css" href="css/base.css" />
    <script type="text/javascript" src="js/app.js"></script>
    <script>
        // This example adds a search box to a map, using the Google Place Autocomplete
        // feature. People can enter geographical searches. The search box will return a
        // pick list containing a mix of places and predicted search terms.

        // This example requires the Places library. Include the libraries=places
        // parameter when you first load the API. For example:
        // <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&libraries=places">

        function initAutocomplete() {
            var map = new google.maps.Map(document.getElementById('map'), {
                center: { lat: 35.7720577, lng: -78.6763447 },
                zoom: 13,
                mapTypeId: 'roadmap'
            });

            // Create the search box and link it to the UI element.
            var input = document.getElementById('pac-input');
            var searchBox = new google.maps.places.SearchBox(input);
            map.controls[google.maps.ControlPosition.TOP_LEFT].push(input);

            // Bias the SearchBox results towards current map's viewport.
            map.addListener('bounds_changed', function () {
                searchBox.setBounds(map.getBounds());
            });

            // Update lat/long value of div when anywhere in the map is clicked    
            google.maps.event.addListener(map, 'click', function (event) {
                latVal = event.latLng.lat()
                longVal = event.latLng.lng()
                getReverseGeocodingData(event.latLng.lat(), event.latLng.lng())
            });
            var markers = [];
            // Listen for the event fired when the user selects a prediction and retrieve
            // more details for that place.
            searchBox.addListener('places_changed', function () {
                var places = searchBox.getPlaces();

                if (places.length == 0) {
                    return;
                }

                // Clear out the old markers.
                markers.forEach(function (marker) {
                    marker.setMap(null);
                });
                markers = [];



                // For each place, get the icon, name and location.
                var bounds = new google.maps.LatLngBounds();
                places.forEach(function (place) {
                    if (!place.geometry) {
                        console.log("Returned place contains no geometry");
                        return;
                    }
                    var icon = {
                        url: place.icon,
                        size: new google.maps.Size(71, 71),
                        origin: new google.maps.Point(0, 0),
                        anchor: new google.maps.Point(17, 34),
                        scaledSize: new google.maps.Size(25, 25)
                    };

                    // Create a marker for each place.
                    markers.push(new google.maps.Marker({
                        map: map,
                        icon: icon,
                        title: place.name,
                        position: place.geometry.location
                    }));

                    if (place.geometry.viewport) {
                        // Only geocodes have viewport.
                        bounds.union(place.geometry.viewport);
                    } else {
                        bounds.extend(place.geometry.location);
                    }
                });
                map.fitBounds(bounds);
            });
        }
        function getReverseGeocodingData(lat, lng) {
            var latlng = new google.maps.LatLng(lat, lng);
            // This is making the Geocode request
            var geocoder = new google.maps.Geocoder();
            geocoder.geocode({ 'latLng': latlng }, function (results, status) {
                if (status !== google.maps.GeocoderStatus.OK) {
                    alert(status);
                }
                // This is checking to see if the Geoeode Status is OK before proceeding
                if (status == google.maps.GeocoderStatus.OK) {
                    var address = (results[0].formatted_address);
                    //window.opener.focus();
                    //window.opener.angular.element('#ctrl').scope();
                    //angular.element($("#location")).scope().location=address

                    var scope = angular.element(document.getElementById("location")).scope();

                    scope.event.location = address
                    document.getElementById("locationshow").value = address;
                    document.getElementById("locationshow").focus();
                    document.getElementById('map').style.display = 'none';
                }
            });
        }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCJOkPwk7suopdiPBSnM3qep_Nsd-LC_24&libraries=places&callback=initAutocomplete"
        async defer></script>
    <style>
        table#eventDetails {
            height: 55%;
            width: 100%;
            border: 2px solid;
            border-radius: 5px;
            border-collapse: separate;
        }

        .frminput {
            width: 75%;
        }

        textarea.form-control {
            height: 100px;
        }
    </style>
</head>

<body ng-controller="index" ng-init="fetchSession()" onload="document.getElementById('map').style.display = 'none';">

    <!-- The Organization Event Details Page -->
    <div class='home active'>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <md-button class="md-icon-button" aria-label="Go Back" ng-click="gotoPage('organization')">
                    <i class="fas fa-angle-left"></i>
                </md-button>
                <span flex>{{event.eName}} Details</span>
            </div>
        </md-toolbar>

        <md-content flex layout-padding ng-if="!event">
            <h4>Error in fetching details of the event.</h4>
        </md-content>

        <div class='home__content my_container'>
            <br>
            <table class="table table-striped table-responsive w-auto" id="eventDetails">
                <tbody>
                    <tr>
                        <td>
                            <b> Name:</b>
                        </td>
                        <td>
                            <div ng-hide="updateEventField">{{event.eName}}</div>
                            <div ng-show="updateEventField">{{event.eName}}</div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b> Date/Time of Event:</b>
                        </td>
                        <td>
                            <div ng-hide="updateEventField">{{event.datetime}}</div>
                            <div ng-show="updateEventField">
                                <input class="form-control form-control-sm frminput" type="text" ng-required="true" ng-model="event.datetime" />
                            </div>
                            <div ng-if="dateTimeError" style="color:red;">Expected Format: mm/dd/yyyy hh:mmAM/PM</div>
                        </td>
                    </tr>
                    <tr>
                        <td style="width:30%">
                            <b> Location:</b>
                        </td>
                        <td style="width:70%">
                            <div ng-hide="updateEventField">{{event.location}}</div>
                            <div ng-show="updateEventField">
                                <input id="locationshow" class="form-control form-control-sm frminput" type="text" onfocus="document.getElementById('map').style.display = 'block';"
                                    placeholder="Click a place on map to select location" />
                                <input type="hidden" id="location" ng-model="event.location" required flex/>
                            </div>
                            <input id="pac-input" class="controls" type="text" placeholder="Search Box">
                            <div id="map" style="position: relative; overflow: hidden; height:300px;width:100%"></div>
                            <div ng-if="locationError" style="color:red;">Location cannot be Empty</div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b> Required Members:</b>
                        </td>
                        <td>
                            <div ng-hide="updateEventField">{{event.members}}</div>
                            <div ng-show="updateEventField">
                                <input class="form-control form-control-sm frminput" type="text" ng-model="event.members" />
                            </div>
                            <div ng-if="eventMembersError" style="color:red;">Expected: 1 - 100 members only</div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b> Description:</b>
                        </td>
                        <td>
                            <div ng-hide="updateEventField">{{event.description}}</div>
                            <div ng-show="updateEventField">
                                <textarea class="form-control form-control-sm" ng-model="event.description"></textarea>
                            </div>
                            <div ng-if="descriptionError" style="color:red;">Expected: 1 - 200 Characters</div>
                        </td>
                    </tr>
                </tbody>
            </table>

            <br>
            <md-button type="button" class="md-raised md-accent" ng-hide="updateEventField" ng-disabled="dataLoading" ng-click="modifyEvent()">Modify</md-button>
            <md-button type="button" class="md-raised md-primary" ng-show="updateEventField" ng-disabled="dataLoading" ng-click="updateEvent(event, user)">Update</md-button>
            <md-button type="button" class="md-raised md-warn" ng-show="updateEventField" ng-disabled="dataLoading" ng-click="cancelUpdateEvent()">Cancel</md-button>
            <md-progress-circular class="center_text" md-mode="indeterminate" ng-show="dataLoading"></md-progress-circular>
            <md-button type="button" class="md-raised md-warn pull-right" ng-disabled="dataLoading" ng-click="deleteEvent($event, event.eId)">Delete Event</md-button>
        </div>


        <div class='home__footer'>
            <div class="nav_bar" style="bottom: 0">
                <a href="organization.html" class="active">Events</a>
                <a href="eventVolunteers.html">Volunteers</a>
                <a href="chats.html">Chats</a>
                <a href="profile.html">Profile</a>
            </div>
        </div>

    </div>

    <!-- End Organization Event Details Page -->

</body>

</html>