<!DOCTYPE html>
<html ng-app="root">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bugle</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="//code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="//code.angularjs.org/1.6.0/angular-route.min.js"></script>
    <script src="//code.angularjs.org/1.6.0/angular-cookies.min.js"></script>
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <link rel="stylesheet" type="text/css" href="css/login.css" />
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <script type="text/javascript" src="js/app.js"></script>
</head>

<body ng-controller="index">

    <form name="form" ng-submit="register('vol')" role="form" class="ng-dirty ng-valid-parse ng-invalid ng-invalid-required">

        <div class="imgcontainer">
            <img src="img/logo_64.png" alt="logo" class="logo">
        </div>

        <div class="container">

            <div class="form-group" ng-class="{ 'has-error': form.u_name.$dirty &amp;&amp; form.u_name.$error.required }">
                <label for="u_name">Name</label> &nbsp; <span ng-show="form.u_name.$dirty &amp;&amp; form.u_name.$error.required" class="ng-hide fcred">Username is required</span>
                <input name="u_name" id="u_name" class="form-control ng-not-empty ng-dirty ng-valid-parse ng-valid ng-valid-required ng-touched" ng-model="u_name" required="" type="text">
            </div>
            
            <div class="form-group" ng-class="{ 'has-error': form.email.$dirty &amp;&amp; form.email.$error.required }">
                <label for="email">Email ID</label> &nbsp; <span ng-show="form.email.$dirty &amp;&amp; form.email.$error.required" class="ng-hide fcred">Email Id is required</span> &nbsp; <span ng-show="form.email.$error.email" class="ng-hide fcred">Provided Email Id is invalid</span>
                <input name="email" id="email" class="form-control ng-not-empty ng-dirty ng-valid-parse ng-valid ng-valid-required ng-touched"  ng-model="email" required="" type="email">
            </div>
            
            <div class="form-group" ng-class="{ 'has-error': form.password.$dirty &amp;&amp; form.password.$error.required }">
                <label for="dob">Birth Date</label> &nbsp; <span ng-show="form.dob.$dirty &amp;&amp; form.dob.$error.required" class="ng-hide fcred">Birth Date is required</span>
                <input type="date" placeholder="Enter date of birth" id="dob" name="dob" required>
            </div>
            
            <div class="form-group" ng-class="{ 'has-error': form.password.$dirty &amp;&amp; form.password.$error.required }">
                <label for="password">Password</label> &nbsp; <span ng-show="form.password.$dirty &amp;&amp; form.password.$error.required" class="ng-hide fcred">Password is required</span>
                <input type="password" name="password" id="password" class="form-control ng-not-empty ng-dirty ng-valid-parse ng-valid ng-valid-required ng-touched" ng-model="password" required="" type="text">
            </div>
            
            <div class="form-group" ng-class="{ 'has-error': form.cpsw.$dirty &amp;&amp; form.cpsw.$error.required }">
                <label for="cpsw">Confirm Password</label> &nbsp; <span ng-show="form.cpsw.$dirty &amp;&amp; form.cpsw.$error.required" class="ng-hide fcred">Confirm Password is required</span> &nbsp; <span ng-show="formData.password != formData.cpsw" class="ng-hide fcred">passwords must match.</span>
                <input type="password" name="cpsw" id="cpsw" class="form-control ng-not-empty ng-dirty ng-valid-parse ng-valid ng-valid-required ng-touched" ng-model="cpsw" required="" type="text">
            </div>
            
            <button type="submit" ng-disabled="form.$invalid || dataLoading" disabled="disabled">Sign Up</button>
            <a href="login.html" class="linkbuttonred">Cancel</a>

        </div>

    </form>

</body>

</html>