<!DOCTYPE html>
<html ng-app="root">

<head>
    <meta content="img/logo_128.png" itemprop="image">
    <link href="img/logo_128.png" rel="icon">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bugle: Home</title>
    <!-- Angular Material style sheet -->
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.8/angular-material.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-messages.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.8/angular-material.min.js"></script>
    <script src="/node_modules/angular-local-storage/src/angular-local-storage.js"></script>
    <script src="/node_modules/read-more/js/directives/readmore.js"></script>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <link rel="stylesheet" type="text/css" href="css/base.css" />
    <script type="text/javascript" src="js/app.js"></script>
</head>

<body ng-controller="index" ng-init="fetchSession()">

    <!-- The Volunteer Home Page -->

    <div class='home active'>

        <!-- <div class='home__header center_text'>
            <h3>
                <b>{{user.uName}}</b>
            </h3>
        </div> -->

        <md-toolbar>
            <div class="md-toolbar-tools">
                <md-button class="md-icon-button" aria-label="Go Back" disabled>
                    <i class="fas fa-angle-left"></i>
                </md-button>

                <!-- <md-truncate class="center_text" style="position: absolute; left: 90px; right: 170px; top: 13px; bottom: 13px;">{{user.uName}}</md-truncate> -->

                <span flex>Organizations</span>
                <!-- <md-button class="md-raised" aria-label="Learn More">
                Learn More
              </md-button>
              <md-button class="md-fab md-mini" aria-label="Favorite">
                <md-icon md-svg-icon="img/icons/favorite.svg"></md-icon>
              </md-button> -->
            </div>
        </md-toolbar>


        <div class='home__content my_container'>
            <h4>
                Available volunteer Organizations
            </h4>
            <!-- <ul data-ng-init="getOrganizations()">
                <li data-ng-repeat="org in organizations" ng-click="openOrgEvents(org)">{{org.uName}}
                </li>
            </ul> -->
            <md-list flex ng-init="getOrganizations()">
                <md-list-item class="md-1-line" ng-repeat="org in organizations" ng-click="openOrgEvents(org)">
                    <md-card flex>
                        <md-card-title>
                            <md-card-title-text>{{org.uName}}</md-card-title-text>
                        </md-card-title>
                    </md-card>
                    <!-- <div class="md-list-item-text" layout="column"></div> -->
                </md-list-item>
            </md-list>
        </div>

        <div class='home__footer'>
            <div class="nav_bar">
                <a href="volunteer.html" class="active">Organizations</a>
                <a href="volunteerEvents.html">Applied</a>
                <a href="chats.html">Chats</a>
                <a href="profile.html">Profile</a>
            </div>
        </div>

    </div>

    <!-- End Volunteer Home Page -->

</body>

</html>