/* The page layout for the home page. */
.home {
    display: none;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
}

.home.active {
    display: grid;
    grid-template-rows: 50px auto 50px;
}

.center_text {
    text-align: center;
    padding: .5rem;
}

.home__content {
    overflow-y: auto;
}

/* Content css */
h4 {
    padding: .5rem;
}

li {
    display: block;
    padding: .5rem;
    margin: .8rem;
    border: 1px solid black;
    border-radius: .5rem;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.26);
    background-color: #dfdce3;
    cursor: pointer;
}


/* The bottom menu bar */
.nav_bar {
    overflow: hidden;
    background-color: rgb(134, 134, 134);
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
  }
  
  .nav_bar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .nav_bar a:hover {
    background: #f1f1f1;
    color: black;
  }
  
  .nav_bar a.active {
    background-color: rgb(78, 76, 175);
    color: white;
  }
  
  .my_container{
      margin: 0.9rem;
  }

  .back_button {
    float: left;
    border-style: solid;
    border-radius: 0.7rem;
    padding: 0.2rem;
    margin-top: 2.5rem;
    margin-left: 0.8rem;
    margin-right: -1.8rem;
    text-decoration: none;
    box-shadow: 0px 4px 3px -3px black !important;
  }

.btn-green {
    background-color: #4CAF50 !important;
    border: none !important;
    padding: 10px 20px !important;
    box-shadow: 0px 4px 3px -3px black !important;
}

.btn-shadow {
    box-shadow: 0px 4px 3px -3px black !important;
}

.btn-small-blue {
    background-color: rgb(193, 222, 248) !important;
    box-shadow: 0px 4px 3px -3px black !important;
    border: none !important;
    padding: 1px 5px !important;
}

.linkbuttonred {
    background-color: rgb(247, 71, 71);
    color: white;
    display: block;
    text-align: center;
    font-weight: bold;
    padding: 10px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 0.6rem;
    cursor: pointer;
    width: 100%;
    text-decoration: none;
}

.plainlink {
    text-decoration: none;
    color: black;
}

.tbl-ev-details {
    border: none;
}

td.ev-details {
    padding: 1rem;
}

td.ev-details-rt {
    padding: 1rem;
    padding-left: 3rem;
}

div.wrapper {
    width: 100%;
    text-align: center;
}

.btn-center {
    margin: 0 auto;
}