#my-chat{
    max-width: 100%;
    margin: 30px auto;
    border: 1px solid #ddd;
    box-shadow: 1px 3px 5px rgba(0,0,0,0.05);
    border-radius: 2px;
    height: 70%;
}

#chat-window{
    height: 100%;
    overflow: auto;
    background: #f9f9f9;
}

#output {
    height: 100%;
    overflow-y: auto;
}

input{
    padding: 10px 20px;
    box-sizing: border-box;
    background: #eee;
    border: 0;
    display: block;
    width: 100%;
    background: #fff;
    border-bottom: 1px solid #eee;
    font-family: Nunito;
    font-size: 16px;
}

button.send_button{
    background: #4CAF50;
    color: #fff;
    font-size: 1.8rem;
    border: 0;
    padding: 10px 0;
    width: 15%;
    border-radius: 0 0 2px 2px;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.26) !important;
}