body {
    font-family: Arial, Helvetica, sans-serif;
}

form {
    border: none;
    height: 60%;
}

button {
    background-color: rgba(76, 175, 80, 0.89);
    color: white !important;
    padding: 10px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 0.6rem;
    cursor: pointer;
    width: 100%;
}

button:disabled {
    opacity: 0.3;
}

button.btn-shadow {
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.26);
}

a.linkbutton {
    background-color: rgba(223, 157, 83, 0.92);
    color: white;
    text-decoration: none;
    display: block;
    text-align: center;
    font-weight: bold;
    padding: 10px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 0.6rem;
    cursor: pointer;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.26);
    width: 100%;
}

.linkbuttonred {
    background-color: rgba(247, 71, 71, 0.89);
    color: white;
    display: block;
    text-align: center;
    font-weight: bold;
    padding: 10px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 0.6rem;
    cursor: pointer;
    width: 100%;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.26);
    text-decoration: none;
}

.imgcontainer {
    text-align: center;
    margin: 2rem 0 1rem 0;
}

img.avatar {
    width: 40%;
    border-radius: 50%;
}

.container {
    padding: .8rem;
}

span.psw {
    display: block;
    text-align: center;
    float: none;
    padding-top: .5rem;
}

span.fcred {
    color: red;
}