body {
    font-family: Arial, Helvetica, sans-serif;
}

form {
    border: 3px solid #f1f1f1;
    height: 100%;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 10px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 0.6rem;
    box-sizing: border-box;
}

input[type=date]{
    width: 100%;
    padding: .5px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 0.6rem;
    box-sizing: border-box;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 0.6rem;
    cursor: pointer;
    width: 100%;
}

button:disabled {
    opacity: 0.3;
}

a.linkbutton {
    background-color: rgb(223, 157, 83);
    color: white;
    text-decoration: none;
    display: block;
    text-align: center;
    font-weight: bold;
    padding: 10px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 0.6rem;
    cursor: pointer;
    width: 100%;
}

.linkbuttonred {
    background-color: rgb(247, 71, 71);
    color: white;
    display: block;
    text-align: center;
    font-weight: bold;
    padding: 10px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 0.6rem;
    cursor: pointer;
    width: 100%;
    text-decoration: none;
}

.imgcontainer {
    text-align: center;
    margin: 2rem 0 1rem 0;
}

img.avatar {
    width: 40%;
    border-radius: 50%;
}

.container {
    padding: .8rem;
}

span.psw {
    display: block;
    text-align: center;
    float: none;
    padding-top: .5rem;
}

span.fcred {
    color: red;
}